Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !^favicon\.ico
  RewriteCond %{REQUEST_FILENAME} !\.jpg
  RewriteCond %{REQUEST_FILENAME} !/css/
  RewriteCond %{REQUEST_FILENAME} !/images/
  RewriteCond %{REQUEST_FILENAME} !/fonts/
  RewriteCond %{REQUEST_FILENAME} !/js/
  
  
RewriteRule ^ index.php [L,QSA]